.car-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card img {
  height: 190px;
  object-fit: cover;
}

.car-card .card-body {
  flex-grow: 1;
  overflow-y: auto;
}

.car-card .card-footer {
  height: 50px;
}
